{% extends 'myapp/header.html' %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% block content %}
{% if error %}
	{{error}}
{% endif %}
	<form name="frm" method="POST" action="">
		{% csrf_token %}
		<table>
			<tr>
				<td>Old Password</td>
				<td><input type="password" name="old_password"></td>
			</tr>
			<tr>
				<td>New Password</td>
				<td><input type="password" name="new_password"></td>
			</tr>
			<tr>
				<td>Confirm New Password</td>
				<td><input type="password" name="confirm_new_password"></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" name="Change Password">
				</td>
			</tr>
		</table>
	</form>
{% endblock %}
</body>
</html>