{% extends 'myapp/header.html' %}

<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
{% block content %}
<center>
	{% if error %}
		<h3>{{error}}</h3>
	{% endif %}
</center>
  <form method="POST" action="{% url 'change_password' %}" align="center">
  	{% csrf_token %}
  	<input type="password" name="password" placeholder="Password"><br>
    <input type="password" name="cpassword" placeholder="Confirm Password"><br>
    <input type="hidden" name="email" value="{{email}}">
  	<input type="submit" value="Change Password">
  	
  </form>

{% endblock %}
</body>
</html>