{% extends 'myapp/header.html' %}

<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
{% block content %}
{% if error %}
		{{error}}
	{% endif %}
<form name="otp" method="POST" action="{% url 'validate_password_OTP' %}" align="center">
		{% csrf_token %}
		<input type="hidden" name="g_otp" value="{{otp}}">
		<input type="hidden" name="email" value="{{email}}">
		<input type="text" name="e_otp">
		<input type="submit" name="submit" value="Validate OTP">
	</form>
{% endblock %}
</body>
</html>