{% extends 'myapp/header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <div class="row">
		 {% for s in products %}
		<div id="box" class="col-sm-4">
			<div class="container">
		  		<div class="card" style="width:250px">
		    		<img class="card-img-top" src="{{s.product_image.url}}" alt="Card image" width=250px height=250px>
		    			<div class="card-body">
		      				<h4 class="card-title">{{s.product_name}}</h4>
		      				<p class="card-text">Brand : {{s.product_brand}}</p>
		      				{% if s.product_sale %}
		      				<p>Sale Discount : {{s.product_sale_percentage}}%</p>
		      				<p class="card-text">Price : <strike>{{s.product_price}}</strike>&nbsp;&nbsp;{{s.after_dicount_price}}</p>
		      				{% else %}
		      					<p>Sale Discount : New Arrival</p>
		      					<p class="card-text">Price : {{s.product_price}}</p>
		      					
		      				{% endif %}
		      				
		      				<a href="{% url 'detail' pk=s.pk %}">More Detail</a>
		    			</div>
		  		</div>	  
		</div>
	</div> 
	    {% endfor %}
</div>
</body>
</html>
{% endblock %}